ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li ul li { font-size: 0.75em }
li ul li ul li { font-size: 1em }

.label-active {
  font-weight: 600;
}

.label {
  font-weight: 400;
}

button {
  margin-left: 8px;
}
